In [50]:
import sqlite3

In [51]:
con = sqlite3.connect('test.db')

In [34]:
cursor = con.cursor()

In [35]:
create_sql = '''
CREATE TABLE IF NOT EXISTS users (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    name TEXT NOT NULL,
    age INTEGER
);
'''

In [36]:
cursor.execute(create_sql)

In [37]:
con.commit()

In [38]:
insert_sql = "INSERT INTO users (name, age) VALUES ('이순신', 25);"
cursor.execute(insert_sql)

In [39]:
# 변경사항 저장
con.commit()

In [40]:
# 데이터 삽입 SQL 문 (쿼리문 파라미터 사용)
insert_sql = "INSERT INTO users (name, age) VALUES (?, ?);"

In [41]:
user = ("김유신", 25)
cursor.execute(insert_sql, user)

In [42]:
con.commit()

In [43]:
# 다중의 행 Query
userlist = (("이순신","30"), ("박문수","27"))
cursor.executemany(insert_sql, userlist)

In [44]:
select_sql = "SELECT * FROM users"

In [45]:
cursor.execute(select_sql)

In [46]:
rows = cursor.fetchall()

In [52]:
for row in rows:
    print(row)

(1, '이순신', 25)
(2, '김유신', 25)
(3, '이순신', 25)
(4, '김유신', 25)
(5, '이순신', 30)
(6, '박문수', 27)

In [53]:
# 연결 종료 (예외가 발생해도 실행됨)
con.close()